.welcome-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #4CAF50;
    -fx-padding: 10;
}

.combo-box {
    -fx-font-size: 16px;
    -fx-padding: 5;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #F9F9F9;
}

.chat-button {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #4CAF50;
    -fx-padding: 10 20;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.chat-button:hover {
    -fx-background-color: #45A049;
}

.root {
    -fx-font-family: "Arial";
}

.message-table {
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 10;
}

.message-input {
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5;
    -fx-pref-width: 400;
}

.send-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.send-button:hover {
    -fx-background-color: #45A049;
}

.back-button {
    -fx-background-color: #FF5722;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.back-button:hover {
    -fx-background-color: #E64A19;
}
